ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.page-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/assets/img/JJKB.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.page-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 0, 0, 0.6); /* Rojo oscuro con opacidad */
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-icon {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
}
.language-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.language-button {
  background-color: #e30606; /* Un color azul atractivo */
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: none;
}

.language-button:hover {
  background-color: #890303; /* Cambia a un azul más oscuro al pasar el ratón */
}

.language-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 58, 58, 0.5);
}


h1 {
  font-size: 2rem;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-card, .register-card {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
}

ion-item {
  margin-bottom: 1rem;
}

ion-button {
  --border-radius: 8px;
  margin-top: 1rem;
}


.animated-button {
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}
